*{
    margin: 0;
    padding: 0;
    font-family: quicksand;
}
.list ul{
    display: flex;
    gap: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
} 
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
}
.image{
    image-rendering: crisp-edges;
    
}
.apartments{
    text-align: end;
}
#background{
    background-image: url("../images/home page background.jpeg");
    width: inherit;
    height: 500px;

}