*{
    margin: 0;
    padding: 0;
    font-size: large;
}
.list ul{
    display: flex;
    gap: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
} 
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
}
.image{
    image-rendering: crisp-edges;
    
}
.apartments{
    text-align: end;
}
#background{
    background-image: url("../images/home page background.jpeg");
    width: inherit;
    height: 500px;
    background-repeat: no-repeat;
    background-repeat: inherit;

}
a:hover{
    text-decoration: underline;
}
.logo a{
    font-size: 20px;
}
.button{
    padding: 7px 15px;
    background: #F97D0B;
    border-bottom: 1px #FFFFFF solid;
    border-radius: 50em;
}
.item_button{
    text-decoration: non;
    border-bottom: 1px #FFFFFF solid;
    padding: 7px 15px;
    background: #F97D0B;
    border-bottom: 1px #FFFFFF solid;
    border-radius: 50em;
}
.button a:hover{
    transition:all .25s;
}
.header{
    display: flex;
}
.header .sign_up_button{
    float: right;
    justify-content: space-between;
}
.Logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}
.home-page-nav{
    background-color: #F97D0B;
    justify-content: space-between;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 0;
}
.home-page-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
h1{
    text-decoration: underline orange;
    text-underline-position: below;
    font-size: 30px;
}
.flex_blue_content{
    display: flex;
    justify-content: space-between;
}
.flex_blue_content .h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.footer{
    background-color: #F97D0B;
    margin-top: 50px;
}