*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/apartment\ block.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    opacity: 60%;
}

.container{
    display: flex;
    justify-content: space-around;
    height: 80%;
    width: 99%;
    margin: 10% 0%;
    border: solid 4px black;
    position: relative;
}
.container .follow {
    width: 40%;
}
.container .contact {
    /* border: solid 1px black; */
    background-color: #f97d0b;
    width: 59%;
    margin: 2%;
    padding: 15px;
}
#us {
    display:flex;
    justify-content: center;
    font-size: xx-large;
}
.container2{
    display: flex;
    justify-content: space-between;
    height: 30vh;
}
.tenant{
    display: flex;
    justify-content: space-between;
}

.container3{
    display: flex;
    justify-content: space-between;
}