*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/apartment\ block.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    opacity: 60%;
}

.container{
    display: flex;
    justify-content: space-around;
    height: 80%;
    width: 99%;
    margin: 10% 0%;
    border: solid 4px black;
    position: relative;
}
.container .follow {
    width: 40%;
}
.container .contact {
    /* border: solid 1px black; */
    background-color: #f97d0b;
    width: 59%;
    margin: 2%;
    padding: 15px;
}
#us {
    display:flex;
    justify-content: center;
    font-size: xx-large;
}
.container2{
    display: flex;
    justify-content: space-between;
    height: 30vh;
    margin-right: 10%;
}
.tenant{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
#name , #email , #subject{
    height: 3vh;
    width: 450px;
    margin-bottom: 5%;
}
button{
    color: #fff;
    background-color: blue;
    height: 3vh;
    width: 20%;
}
.fa-map-marker{
    background-color: #fff;
    margin-left: 20%;
}
.location p{
    font-weight: bolder;
    font-size: x-large;
}
.container3{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
.address{
    background-color: white;
    width: 30%;
    height: 24vh;
    padding: 30px;
}
.address h4{
    margin-left:90px ;
}

.address p{
    font-size: large;
    margin-left: 40px;
    margin-top: 5%;
}
#address{
    margin-left: 90px;
}