*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/apartment\ block.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    opacity: 60%;
}

.container{
    display: flex;
    justify-content: space-around;
    height: 80%;
    width: 99%;
    margin: 10% 0%;
    border: solid 4px black;
    position: relative;
}
.container .follow {
    width: 40%;
    /* border: solid 4px blue;    */
}
 .follow h3{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    text-decoration: underline;
    padding-top: 7%;
 }
 .media{
    /* background-color: #fff; */
    height: 70vh;
    position: relative;
    

 }
 #twitter{
    background: #f97d0b;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 25%;
    right: 50%;
    
}

#instagram{
    background: #f97d0b;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 30%;
    bottom: 45%;
}
#facebook{
    background: #f97d0b;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 25%;
    right: 40%;
}
#empty{
    border-radius: 25px;
    background: #ff8c00;
    padding: 20px; 
    width: 100px;
    height: 80px;  
    position: absolute;
    right: 50%;
}


.container .contact {
    /* border: solid 1px black; */
    background-color: #ff8c00;
    width: 59%;
    margin: 2%;
    padding: 15px;
}
#us {
    display:flex;
    justify-content: center;
    font-size: xx-large;
}
.container2{
    display: flex;
    justify-content: space-between;
    height: 30vh;
    margin-right: 10%;
}
.tenant{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
#name , #email , #subject{
    height: 3vh;
    width: 450px;
    margin-bottom: 5%;
}
button{
    color: #fff;
    background-color: blue;
    height: 3vh;
    width: 20%;
}
.fa-map-marker{
    background-color: #fff;
    margin-left: 40%;
}
.location{
    background-color: #fff;
    margin-left: 20%;
    width: 50%;
    height: 24vh;
    padding: 30px;
}
.location p{
    font-size:medium;
    margin-left: 30px;
    margin-top: 3%;
}
.container3{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
.address{
    background-color: #fff;
    width: 30%;
    height: 24vh;
    padding: 30px;
}
.address h4{
    margin-left:90px ;
    text-decoration: underline;
}

.address p{
    font-size: large;
    margin-left: 40px;
    margin-top: 5%;
}
#address{
    margin-left: 90px;
}