body{
    background-image: url(/assets/images/home\ page\ background.jpeg);
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 100vh; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: none;
    width: 100%;
    height: auto;  
    font-family: 'Quicksand';
}

.nav-bar h1{
    text-decoration: none;
}
.nav-bar a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
.logo a{
    font-size: 20px;
}
.button, .item_button{
    padding: 7px 15px;
    background: #F97D0B;
    border: 1px #FFFFFF solid;
    border-radius: 50em;
    margin: 0;
}

.button a:hover{
    transition:all .25s;
}
.header{
    display: flex;
}
.header .sign_up_button{
    float: right;
    justify-content: space-between;
}
.Logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}
.home-page-nav{
    background-color: #F97D0B;
    justify-content: space-between;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 0;
    
}
.home-page-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar{
    width: 100%;
    background-color: #F97D0B;
}

.box .h3{
color: aliceblue;
text-transform: uppercase;
font-weight: bold;
}
.box input [type="text"], .box input [type="password"]{
    border: 0;
    background-color: none;
    margin: 20px auto; 
    display: block;
    text-align: center;
    border-color: blue;
    padding: 14px 10px;
    width: 100px;
    outline: navy;
    border-radius: 24px;
    transition: 0.25px;

}
.box input [type="text"], .box input [type="password"]focus{
border-color: #F97D0B;
width: 100px;
}
.box input [type="submit"]{
    border: 0;
    background-color: none;
    margin: 20px auto; 
    display: block;
    text-align: center;
    border-color: rgb(193, 193, 225);
    padding: 14px 10px;
    outline: navy;
    border-radius: 24px;
    transition: 0.25px;
}
.box input [type="submit"]:hover{
    background-color: #F97D0B;
}

.sign_up_button{
    float: right;
    justify-content: space-between;
    border-radius: 10px;
}
.home-page-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-page-nav a{
   text-decoration: none;
}
.about_section{
    text-align: center;
    margin-top: 100px;
}
.GetStarted_section{
    text-align: center;
    margin-top: 100px;
}
.icons{
    text-align: center;
}
.checked{
    color: #F97D0B;
}
.star-ratings{
    display: flex;
    justify-content: space-around;
}
.customer-details{
    display: flex;
    /* justify-content: space-between; */

}
.flex_blue_content{
    display: flex;
    justify-content: space-between;
}
.flex_blue_content .h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.card{
    box-shadow: 5px 5px 5px lightgray;
    position: relative;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: black;
    padding-left: 20px;
}
.card:hover{
    transform: scale(1.2);
}

.images{
    width: 20%;
    border-radius: 50%;
    display: flex;
}

.footer{
    background-color: #F97D0B;
    margin-top: 50px;
}
.transparent_background{
    position: relative;
    width: 80%;
    height: 200px;
    background: rgba(110, 113, 116, 0.7);
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: black;
    align-items: center;
    margin-left: 50px;
}
.list_items a{
    text-decoration: none;
}
.re_views{
    text-align: center;
}
.selection{
    display: flex;
    justify-content: space-around;
   }
   /* close button      */
   .close-button, .close-sign-up-button{
           font-size: 30px;
           font-weight: 600;
           background-color: #F5F5F5;
           border-radius: 50%;
           width: 5%;
           float: right;
           margin-top: -0.9em;
           margin-right: -0.9em;
           border: none;
   }
   .close-button:hover{
       background-color: #F97D0B;
       color: #F5F5F5;
       transition: all .25s;
   }
   .close-sign-up-button:hover{
       background-color: #F97D0B;
       color: #F5F5F5;
       transition: all .25s;
   }
   .sign-up-section, .log-in-section{
       background-color: #F5F5F5;
       margin: 1em;
       padding: 1em;
       width: 100%;
       border-radius: 1em;
       box-shadow: inset 3px 3px 8px grey
   }
   .your-account{
       text-align: center;
   }
   #facebook-icon, #google-icon{
       width: 50%;
       height: auto;
       border-radius: 50%;
       padding-top: 40%;
       margin-right: 0;
   }
   .facebook, .google{
       display: flex;
       justify-content: center;
   }
   .continue-with-accounts a{
       text-decoration: none;
       color: black;
   }
   .or{
       text-align: center;
       position: relative;
   }
   .or::before{
       content:" ";
       display: block;
       height: 10%;
       width: 45%;
       position: absolute;
       top: 50%;
       left: 0;
       background: lightgrey;
   }
   .or::after{
       content:" ";
       display: block;
       height: 10%;
       width: 45%;
       position: absolute;
       top: 50%;
       right: 0;
       background: lightgrey;
   }
   .sign-in-details input, .log-in-details input{
       width: 90%;
       height: 2em;
       /* margin: 0.5em 0; */
       border-radius: 0.8em;
       border: none;
       padding: 0.5em;
       margin-bottom: 1em;
   }
   .checkbox, .alternative, .forgot{
       margin-top: 1em;
       font-size: 0.8em;
   }
   .checkbox a, .alternative a{
       color: #F97D0B;
   }
   #sign-up, #log-in{
       width: 80%;
       padding: 0.8em;
       margin-left: 8%;
       background-color: #F97D0B;
       border: 0;
       border-radius: 0.5em;
       text-align: center;
       font-size: 1.1em;
       font-weight: 600;
   }
   .forgot-password a{
       color: #F97D0B;
   }
   
   
   .sign-ups , .log-ins{
       width: 40%;
       display:none;
       position: absolute;
       top:10%;
       left: 30%;
       opacity:1;
   }
   /* this is the sign up section */
   .flex_blue_content{
       display: flex;
       justify-content: space-between;
   }
   .flex_blue_content .h4{
       font-size: 1.3em;
       font-weight: 600;
       padding-bottom: 10px;
   }
   .footer{
       background-color: #F97D0B;
       margin-top: 50px;
       padding: 20px;
   }
   .footer a{
       text-decoration: none;
       color: #F5F5F5;
   }
   #footer-logo{
       font-size: 1.5em;
   }

/* log in and sign up css*/
/* .selection{
    display: flex;
    justify-content: space-around;
   }
    .sign-up button, .log-in button{
       width : 130%;
       font-size: 1em;
       font-weight: 600;
       padding: 0.5em;
       border: none;
       box-shadow: 3px 3px 8px lightgray;
       color: #F97D0B;
   } 
   
   .sign-up-section, .log-in-section{
       background-color: #f5f5f5;
       margin: 1em;
       padding: 1em;
       width: 100%;
       border-radius: 1em;
       box-shadow: inset 3px 3px 8px grey
   }
   .your-account{
       text-align: center;
   }
   
   #facebook-icon, #google-icon{
       width: 50%;
       height: auto;
       border-radius: 50%;
       padding-top: 40%;
       margin-right: 0;
       
   }
   .facebook, .google{
       display: flex;
       justify-content: center;
   }
   .continue-with-accounts a{
       text-decoration: none;
       color: black;
   }
   .or{
       text-align: center;
       position: relative;
   }
   .or::before{
       content:" ";
       display: block;
       height: 10%;
       width: 45%;
       position: absolute;
       top: 50%;
       left: 0;
       background: lightgrey;
   }
   .or::after{
       content:" ";
       display: block;
       height: 10%;
       width: 45%;
       position: absolute;
       top: 50%;
       right: 0;
       background: lightgrey;
   }
   .sign-in-details input, .log-in-details input{
       width: 90%;
       height: 2em;
       /* margin: 0.5em 0; */
       
   .checkbox, .alternative, .forgot{
       margin-top: 1em;
       font-size: 0.8em;
   }
   .checkbox a, .alternative a{
       color: #F97D0B;
   }
   #sign-up, #log-in{
       width: 80%;
       padding: 0.8em;
       margin-left: 8%;
       background-color: #F97D0B;
       border: 0;
       border-radius: 0.5em;
       text-align: center;
       font-size: 1.1em;
       font-weight: 600;
   }
   .forgot-password a{
       color: #F97D0B;
   
   } 

   .sign-ups , .log-ins{
    width: 40%;
    display:none; 
    position: absolute;
    top:20%;
    left: 30%;
    opacity:1;
} 