body{
    background-image: url();
}
.header{
    display: flex;
}
.header .sign_up_button{
    float: right;
    justify-content: space-between;
}
.Logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}
.home-page-nav{
    background-color: orange;
    justify-content: space-between;
    padding: 14px 110px;
    text-decoration: none;
    font-size: 17px;
}
.sign_up_button{
    float: right;
    justify-content: space-between;
    border-radius: 10px;
    
}
.home-page-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.about_section{
    text-align: center;
    margin-top: 100px;
}
.GetStarted_section{
    text-align: center;
    margin-top: 100px;
}
.icons{
    text-align: center;
}
.checked{
    color: orange;
}
.star-rate p{
    font-size: small;
}
.customer_review p{
    font-size: smaller;
}
.rate-cards{
    display: flex;
    justify-content: space-between;
}
.reviews-section h3{
text-align: center;
margin-top: 100px;
}
.customer_review .images{
    border-radius: 10px;
}
.flex_blue_content{
    font-family: impact, haettnschwiler,'Ariaal narrwo';
    display: inline-flex;
    justify-content: orange;
    padding: 30px 150px 120px;
    color: #ffff;
    background-color: orange;
    margin-top: 300px;
}