body{
    margin: 0;
    width : 100%;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Quicksand";
}
.how-it-works{
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width : 80% ;
    margin : auto;
    box-shadow: 3px 3px 8px grey
}
h1{ 
    text-decoration-line: underline ;
    text-align: center;
}
.how-it-works button{
    width: 15em;
    height: 3em;
    margin: 2em;
    font-size: 1em;
    font-weight: 600;
    background-color: #F97D0B;
    border-radius: 10px;
    border: none;
}
.reviews{
    display: flex;
    justify-content: space-between; 
}

.rose-landowner, .kamau-landowner, .lillian-landowner{
    background-color: #f5f5f5;
    margin : 1em;
    padding: 1em;
    width: 25%;
}
.name_location{
    display: flex;
}
.reviews h4{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
img{
    width: 1em;
    height: auto;
}
#rose {
    width: 3.5em;
    height: 3.5em;
    padding: 0.3em;
    border-radius: 50%;
}
#kamau , #lillian{
    width: 4em;
    height: 4em;
    padding: 0.3em;
    border-radius: 50%;
}  
/* .sign-up-section, .log-in-section{
    background-color: #f5f5f5;
    margin: 1em;
    padding: 1em;
    width: 30%;
    border-radius: 1em;
    box-shadow: 3px 3px 8px grey
}
.your-account{
    text-align: center;
    box-shadow: 1px 5px 5px lightgray;

}
.continue-with-accounts{
    padding-left: 10%;
}
#facebook-icon, #google-icon{
    width: 50%;
    height: auto;
    border-radius: 50%;
    padding-top: 40%;
    margin-right: 0;
    
}
.facebook, .google{
    display: flex;
}
.continue-with-accounts a{
    text-decoration: none;
    color: black;
}
.or{
    text-align: center;
    position: relative;
}
.or::before{
    content:" ";
    display: block;
    height: 10%;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 0;
    background: lightgrey;
}
.or::after{
    content:" ";
    display: block;
    height: 10%;
    width: 45%;
    position: absolute;
    top: 50%;
    right: 0;
    background: lightgrey;
}
.sign-in-details input, .log-in-details input{
    width: 90%;
    height: 2em;
    /* margin: 0.5em 0; */
    border-radius: 0.8em;
    border: none;
    padding: 0.5em;
}
.checkbox, .alternative, .forgot{
    margin-top: 1em;
    font-size: 0.8em;
}
.checkbox a, .alternative a{
    color: #F97D0B;
}
#sign-up, #log-in{
    width: 80%;
    padding: 0.8em;
    margin-left: 8%;
    background-color: #F97D0B;
    border: 0;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}
.forgot-password a{
    color: #F97D0B;

} */







